.header {
  border-bottom: 1px solid #e8e8e8;
  height: 64px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__inner {
    width: 100%;
    display: grid;
    grid-template-columns: 46% auto 23%;
  }

  &__left {
    display: flex;
  }

  &__icon {
    cursor: pointer;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-list {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--black-19);
  }

  &__nav-item {
    color: var(--black-19);
    list-style: none;
    text-decoration: none;
  }

  &__nav-link {
    text-decoration: none;
    color: var(--black-19);
    cursor: pointer;
  }

  &__auth {
    display: flex;
    max-width: 235px;
  }
}

.wrapper {
}
