.ui-input {
  width: 100%;
  color: var(--black-19);
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #E8E8E8;
  outline: none;
  margin-bottom: 20px;
  border-radius: 10px;
  &::placeholder {
    color: #A3A3A3;
    font-weight: 400;
    font-size: 16px;
  }

  padding: 14px 16px;
  max-width: 400px;
}