:root {
  --fill-color: #d9d9d9;
  --purple: #6a0bff;
  --black-47: #474747;
  --black-30: #303030;
  --black-19: #191919;
  --pink: #fdd8e1;
  --red600: #f3164e;
}
@mixin wrapper {
  max-width: 1216px;
  margin: 0 auto;
}
.wrapper {
  max-width: 1216px;
  margin: 0 auto;
}
