:root {
  --fill-color: #D9D9D9;
  --purple: #6A0BFF;
  --black-47: #474747;
  --black-30: #303030;
  --black-19: #191919;


}
@mixin wrapper {
  max-width: 1216px;
  margin: 0 auto;
}
.wrapper {
  max-width: 1216px;
  margin: 0 auto;
}

