@font-face {
  font-family: "Manrope";
  src: url("@/shared/assets/fonts/Manrope-Medium.ttf") format("woff");
}

* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
